.nav-container{
  display: flex;
  justify-content: space-between;
  padding: 24px;
  gap: 24px;
  height: 120px;
  background: #FFFFFF;
  box-shadow: 0px 1px 0px #DADADA;
  position: relative;
}

.return-icon{
  font-size: 14px !important;
  margin-bottom: 5px !important;
}

.title{
  font-weight: 700;
  font-size: 32px;
}

.muted-text{
  margin-left: 5px !important;
  line-height: 26px;
}

.return-text{
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}
