.card-container{
    border: 1px solid #DADADA;
    border-radius: 12px;
    background: #FFFFFF;
    height: 130px;
}

.card-container:hover{
    background: #6600FF;
    color: #FFFFFF !important;
}

.card-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.card-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.card-time{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}